@import "tailwindcss";
@plugin "daisyui";

html {
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.header {
  /* background-color: #fff; */
  padding: 10px;
  /* border-radius: 10px; */
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.header > .icon {
  margin-right: 15px;
}
